<html>
  <head>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="./L.KML.js"></script>
  </head>
  <body>
    <div style="width: 100%; height: 100%" id="map"></div>
    <script src="https://unpkg.com/socket.io-client@2.3.0/dist/socket.io.js"></script>
    <script>
      var socket = io();
      const map = new L.Map("map", {
        center: new L.LatLng(40.3834, -82.4457),
        zoom: 14
      });
      const osm = new L.TileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
      );
      map.addLayer(osm);
      var markerGroup = L.layerGroup().addTo(map);
      var polylinePoints = [
        [37.781814, -122.404740],
        [37.781719, -122.404637],
        [37.781489, -122.404949],
        [37.780704, -122.403945],
        [37.780012, -122.404827]
      ];            
      
      var polyline = L.polyline(polylinePoints).addTo(map);
      socket.on("kml", function() {
        markerGroup.clearLayers();
        fetch("tmp.kml")
          .then(res => res.text())
          .then(kmltext => {
            const parser = new DOMParser();
            const kml = parser.parseFromString(kmltext, "text/xml");
            var track = new L.KML(kml);
            track.addTo(markerGroup);
            const bounds = track.getBounds();
            map.fitBounds(bounds);
          });
      });
    </script>
  </body>
</html>
